        body {
            font-family: Assistant, sans-serif;
            font-weight: 400;
            background-color: #0C0E14;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }
        header {
            position: sticky;
            top: 0;
            z-index: 1000;
            background-color: #1D2333;
            padding: 7px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 66px;
        }

        .header-left {
            display: flex;
            align-items: center;
            gap: 15px;
            flex: 1;
        }

        .header-center {
            flex: 2;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            align-items: center;
        }

        .header-right {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .header-buttons {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-left: 1px;
        }

        .header-button:hover {
            color: #2B3246;
        }

        .header-right::before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 32px;
            background-color: #3F485F;
        }

        .discord-container {
            display: flex;
            align-items: center;
            margin-right: 9px;
        }

        .discord-container::before {
            content: "";
            display: block;
            width: 1px;
            height: 32px;
            background-color: #3F485F;
            margin-right: 25px;
        }

        header input {
            padding: 15px;
            width: 400px;
            max-width: 100%;
            font-size: 16px;
            background: #11151F;
            color: #fff;
            border: none;
            border-radius: 25px;
            transition: width 0.3s ease;
        }

        #success-message {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            background: #4caf50;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            font-size: 14px;
        }

        #successdel-message {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            background: #4caf50;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            font-size: 14px;
        }

        .add-button {
            background: #C20C0C;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .add-button:hover {
            background: #850909;
        }

        .header-logo {
            width: 181px;
            height: auto;
            padding: 16px;
            cursor: pointer;
        }

        .header-brand-text {
            font-size: 22px;
            white-space: nowrap;
            margin: 0;
        }

        input, textarea, button, select {
            font-family: 'Assistant', sans-serif;
        }

        header select {
            padding: 5px;
            background: #11151F;
            color: #fff;
            border: none;
            border-radius: 10px;
        }

        .container {
            padding: 10px;
            margin-left: 80px;
        }

        .categories {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .category {
            background-color: #1D2333;
            padding: 12px;
            border-radius: 10px;
            cursor: pointer;
            transition: background 0.3s;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .entries {
            display: flex;
            flex-wrap: wrap;
            gap: 19px;
            margin-top: 15px;
            margin-bottom: 15px;
            justify-content: center;
        }
        .entries.hidden {
            display: none;
        }
        .entry {
            background: #21283B;
            padding: 20px;
            border-radius: 20px;
            width: 200px;
            height: 200px;
            text-align: center;
            cursor: pointer;
            transition: transform 0.3s;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .entry:hover {
            transform: scale(1.04);
        }
        .entry img {
            max-width: 100%;
            max-height: 120px;
            object-fit: cover;
            border-radius: 5px;
        }
        .entry .edit-btn {
            background: #141824;
            top: 200px;
            color: #fff;
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            cursor: pointer;
	        position: absolute;
	        display: flex;
        }
        .entry .edit-btn:hover {
            background: #0C0E14;
        }
        .entry .label {
            position: absolute;
            top: 5px;
            right: 10px;
            background: #01426b;
            color: #fff;
            padding: 2px 8px;
            border-radius: 25px;
            font-size: 14px;
        }

        .entry-title {
            background-color: #2D3242;
            padding: 10px;
            border-radius: 20px;
            font-weight: bold;
            text-align: center;
            max-width: 100%;
            margin-top: 15px;
        }

        .overlay-title {
            background-color: #2B3246;
            padding: 12px;
            border-radius: 25px;
            font-weight: 900;
            font-size: 25px;
            color: #ffffff;
            margin-bottom: 15px;
            text-align: center;
        }

        .add-entry {
            margin-top: 20px;
            display: flex;
            gap: 10px;
        }
        .add-entry input, .add-entry select {
            padding: 5px;
            background: #11151F;
            color: #fff;
            border: none;
            border-radius: 5px;
        }
        .add-entry button {
            background: #C20C0C;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
        .add-entry button:hover {
            background: #850909;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            z-index: 2000;
        }
        .overlay-content {
            background: #1D2333;
            padding: 20px;
            border-radius: 20px;
            text-align: center;
            max-width: 500px;
            width: 100%;
            max-height: 80vh;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #2B3246 #11151F;
        }
        .overlay-content img {
            max-width: 100%;
            max-height: 75vh;
        }
        .overlay-content input, .overlay-content select, .overlay-content textarea, .overlay-content button {
            width: 100%;
            margin: 10px 0;
        }
        .overlay-content input, .overlay-content select, .overlay-content textarea {
            width: calc(100% - 20px);
            margin: 10px auto;
            padding: 10px;
            background: #11151F;
            color: #fff;
            border: none;
            border-radius: 10px;
            box-sizing: border-box;
        }
        .overlay-content textarea {
            resize: none;
            height: 100px;
        }
        .overlay-content button {
            background: #11151F;
            color: #fff;
            border: none;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
        }
        .overlay-content button:hover {
            background: #0C0E14;
        }
        .overlay-close {
            background: #ff5c5c;
        }
        .overlay-close:hover {
            background: #ff0000;
        }

        .import-export-container {
            text-align: right;
            margin: 20px;
            position: relative;
        }

        .menu {
            display: inline-block;
            position: relative;
        }

        .main-button {
            background: #C20C0C;
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 24px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .main-button:hover {
            background: #850909;
        }

        .search-filter-container {
            position: relative;
            display: flex;
            align-items: center;
        }

        .search-filter-container input[type="text"] {
            flex: 1;
            padding: 15px;
            background: #11151F;
            color: #fff;
            border: none;
            border-radius: 25px 0 0 25px;
            font-size: 16px;
            outline: none;
        }

        .input-with-clear {
            position: relative;
            flex: 1;
        }

        .clear-button {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            cursor: pointer;
            color: #999;
            font-size: 30px;
            display: none;
            user-select: none;
        }

        .clear-button:hover {
            color: #fff;
        }

        .dropdown {
            display: none;
            max-width: 135px;
            position: fixed;
            bottom: 760px;
            right: 0;
            background: #171C29;
            padding: 10px;
            border-radius: 10px;
            margin-right: 5px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            text-align: right;
            z-index: 1000;
        }

        .dropdown button {
            background: #C20C0C;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 15px;
            margin: 5px 0;
            cursor: pointer;
            width: 100%;
            text-align: right;
        }

        .dropdown button:hover {
            background: #850909;
        }

        .menu.open .dropdown {
            display: block;
        }

        .settings-container {
            display: flex;
            align-items: center;
            margin-right: 9px;
        }

        .settings-container::before {
            content: "";
            display: block;
            width: 1px;
            height: 32px;
            background-color: #3F485F;
            margin-right: 21px;
        }

        .settings-button {
            display: inline-block;
            background: none;
            border: none;
            cursor: pointer;
            text-decoration: none;
            margin-right: 4px;
            transition: opacity 0.2s, background 0.3s ease;
            padding: 8px;
            font-size: 20px;
            color: #ffffff;
            border-radius: 50%;
            margin-bottom: 2px;
        }

        .settings-button:hover {
            color: #3A3B58;
        }

        .settings-button i {
            vertical-align: middle;
        }

        .discord-button {
            display: inline-block;
            background: none;
            border: none;
            cursor: pointer;
            text-decoration: none;
            margin-right: 6px;
            transition: opacity 0.2s;
        }

        .discord-button:hover {
            opacity: 0.8;
        }

        .discord-icon {
            width: 30px;
            height: auto;
            vertical-align: middle;
        }

        .sidebar-discord {
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        .header-button {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #616A82;
            padding: 10px 15px;
            border-radius: 10px;
            text-decoration: none;
            font-size: 16px;
            transition: background 0.3s ease, transform 0.2s ease;
        }

        .header-button i {
            font-size: 18px;
        }

        .header-button:hover {
            opacity: 0.8;
        }

        .sidebar {
            position: fixed;
            top: 66px;
            left: 0;
            width: 70px;
            height: calc(100% - 66px);
            background-color: #1D2333;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            padding-left: 10px;
            z-index: 1000;
        }

        .menu {
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;
        }

        .menu-item {
            margin-bottom: 7px;
            text-align: center;
        }

        .menu-item-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 10px;
            color: white;
            font-size: 20px;
            text-decoration: none;
            position: relative;
            transition: background 0.3s ease;
            margin-left: 5px;
        }

        .menu-item-link:hover {
            background-color: #293249;
        }

        .menu-item-link-icon {
            font-size: 24px;
            color: white;
        }

        .header-tooltip {
            position: relative;
        }

        .header-tooltip::after {
            content: attr(data-title);
            position: absolute;
            top: 50px;
            right: -25px;
            transform: translateY(-50%);
            background: #293249;
            color: white;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 20px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .header-tooltip:hover::after {
            opacity: 1;
            visibility: visible;
            transform: translateY(-50%) translateX(5px);
        }

        .text-tooltip-tfr {
            position: relative;
        }

        .text-tooltip-tfr::after {
            content: attr(data-title);
            position: absolute;
            left: 60px;
            top: 50%;
            transform: translateY(-50%);
            background: #293249;
            color: white;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 20px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .text-tooltip-tfr:hover::after {
            opacity: 1;
            visibility: visible;
            transform: translateY(-50%) translateX(5px);
        }

        .info-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 10px;
            color: white;
            font-size: 20px;
            text-decoration: none;
            position: relative;
            transition: background 0.3s ease;
            margin-left: -9px;
            margin-top: 20px;
            margin-bottom: 18px;
            cursor: pointer;
        }

        .info-button:hover {
            background-color: #293249;
        }

        .info-button i {
            font-size: 24px;
            color: lightblue;
        }

        .category-filter-container {
            margin-left: 20px;
            display: inline-block;
        }

        #categoryFilterDropdown {
            max-width: 155px;
            height: 51px;
            padding: 15px;
            background: #11151F;
            color: #fff;
            border: none;
            border-radius: 0 25px 25px 0;
            font-size: 16px;
            cursor: pointer;
            outline: none;
            margin-left: -1px;
            scrollbar-width: thin;
            scrollbar-color: #2B3246 #11151F;
        }

        #categoryFilterDropdown::-webkit-scrollbar {
             width: 6px;
        }
        #categoryFilterDropdown::-webkit-scrollbar-track {
            background: #11151F;
        }
        #categoryFilterDropdown::-webkit-scrollbar-thumb {
            background-color: #2B3246;
            border-radius: 5px;
        }

        @media (max-width: 768px) {
            header {
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                height: auto;
            }

            .header-logo {
                width: 50%;
                height: 25%;
            }

            .header-left, .header-right {
                width: 100%;
            }

            .header-center {
                width: 100%;
                position: static;
                left: 0%;
                transform: translateX(-0%);
                align-items: center;
            }

            header input {
                width: 85%;
                font-size: 14px;
                padding: 10px;
            }

            .categories {
                gap: 5px;
            }

            .entries {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .entry {
                max-width: 130px;
                max-height: 160px;
            }

            .entry img {
                max-height: 60px;
            }

            .entry .label {
                font-size: 12px;
            }

            .overlay-content {
                width: 85%;
                max-height: 75vh;
                overflow-y: auto;
            }

            .add-entry {
                flex-direction: column;
                gap: 10px;
            }

            .add-entry input, .add-entry select, .add-entry button {
                width: 100%;
            }

            .discord-button {
                display: none;
            }

            .menu, .sidebar, .menu-item, .menu-item-link, .menu-item-link:hover, .menu-item-link-icon, .text-tooltip-tfr, .text-tooltip-tfr::after, .text-tooltip-tfr:hover::after {
                display: none;
            }

            .header-button, .settings-button, .header-right::before, .settings-container::before {
                display:none;
            }

            .container {
                margin-left: 0px;
            }
        }
